body {

	background-color: #EEE8AA;
	font-family: 'Concert One', cursive;
	margin: 0;
	overflow-x: hidden;
}

img {

	width: 300px;
	height: 120px;
}
.cont1text{
	padding-left: 40px;
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.container2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
background-color: white;
}

.box {
	width: 300px;
	height: 370px;
	background-color: white;
	border-radius:6px;
	box-shadow: 1px 1px 8px grey;
	overflow: hidden;

}

.box1{
	color: blue;
}
.box2{
	color: green;
}
.box3{
	color: orange;
}
.box4{
	color: red;
}
.menu {
	display: inline-block;
}
.item{
	padding-left: 10px;
}
.price
{
 padding-left: 175px;
}
.cardtext {
	padding-left: 10px;
}
.cont2text{
	background-color: white;
	width: 100%
}

h2.cont2text
{
	padding-left: 40px;
}

h3.cont2text{
	margin:0;
	padding-bottom: 20px;
	padding-left: 40px;
}


.hover{

  position: relative;
}
.hover:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .3s ease;
  border-radius:6px;
}

.overlay2 {
background-color: green;
}

.overlay3 {
background-color: orange;
}

.overlay4 {
background-color: red;
}