body {
	background-color: #EEE8AA;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

img {
	width: 300px;
	height: 120px;
}
.contText {
	padding-left: 40px;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #ffffff;
	padding-bottom: 40px;
}

.box {
	width: 300px;
	height: 350px;
	background-color: #ffffff;
	border-radius:6px;
	box-shadow: 1px 1px 8px #a19999;
	overflow: hidden;
}

.box-1 {
	color: #3846c2;
}

.box-2 {
	color: #02a10a;
}

.box-3 {
	color: #ff8400;
}

.box-4 {
	color: #db0b1c;
}

.menu {
	display: inline-block;
}

.item {
	padding-left: 10px;
}

.price {
 	padding-left: 175px;
}

.cardText {
	padding-left: 10px;
}

.contText-2 {
	background-color: white;
	width: 100%
}

h2.contText-2 {
	padding-top: 10px;
	padding-left: 40px;
}

h3.contText-2 {
	margin:0;
	padding-bottom: 30px;
	padding-left: 40px;
}


.hover {
	position: relative;
}

.hover:hover .overlay {
	width: 100%;
}

.text {
	white-space: nowrap; 
	color: #ffffff;
	font-size: 20px;
	position: absolute;
  	overflow: hidden;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.overlay {
 	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #3846c2;
  	overflow: hidden;
  	width: 0;
  	height: 100%;
  	transition: .3s ease;
  	border-radius:6px;
}

.overlay-2 {
	background-color: #02a10a;
}

.overlay-3 {
	background-color: #ff8400;
}

.overlay-4 {
	background-color: #db0b1c;
}